# Compiled output
/dist
/node_modules
/build
*.tsbuildinfo
.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS & Temp
.DS_Store
Thumbs.db
.temp
.tmp
*.tmp

# Tests & Coverage
/coverage
/.nyc_output
.vitest/

# IDEs and Editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
*.env.local

# Runtime data & DB artifacts
pids
*.pid
*.seed
*.pid.lock
*.sqlite
*.sqlite-journal
*.db
*.db-journal

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Prisma generated
/generated/prisma

# Testes de Carga
/teste-carga/

